body{
  background-color: ;
  color:;
  font-family: ;
  line-height: 1.7em;
  text-align: justify;
}

p{
  font-size:large;
}

h1{
  font-size: x-large;
  font-family: 'Anton', sans-serif;
}

h2{
  font-size: larger;
}

h3{
  font-size: large;
}

/* css to change specific sections */

.header {
  background-color: #220140;
  color: white;
  padding: 30px;
}

.intro{
  padding: 30px;

}

.second {
  padding: 30px;

}

.third {
  padding: 30px;

}

.fourth {
  padding: 30px;

}

.conclusion{
  padding: 30px;

}

.ref{
  padding: 30px;
}

/*add divs as needed for the "aesthetic" :>>> */
