body{
  background-color:;
  color:;
  font-family: ;
}

p{
  font-size:medium;
}

h1{
  font-size: larger;
}

h2{
  font-size: large;
}

.header {
  background-color: #220140;
  color: white;
  padding: 10px;
}

.intro{

}

.second {

}

.third {

}

.fourth {

}

.conclusion{

}